/* Body Copy  */

.content {
    font: 24px/36px Galaxie;
    text-align: center;
    margin: 0;
}

.content .content__cover .content__image_backgrond {
    width: 100%;
    height: 640px;
    display: block;
}

.content .content__cover .content__title {}

.content .content__text {
    max-width: 968px;
    text-align: justify;
    margin: auto;
    padding: 60px;
}

/* End Body Copy */

#back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    z-index: 1;
}

@media only screen and (min-width: 769px) {
    .content .content__title {
        font: 120px/132px HUGEAvantGardeBold;
        color: #fff;
        position: absolute;
        top: 25%;
        left: 0;
        width: 100%;
    }
    body.body--open #back {
        visibility: visible;
    }
}