@media only screen and (max-width: 768px) {
    /* Body Copy  */
    .content .content__cover .content__image_backgrond {
        max-height: 240px;
    }
    .content .content__title {
        font: 44px/48px HUGEAvantGardeBold;
        margin: 50px;
    }
    .content .content__text {
        font: 14px/24px Galaxie;
        max-width: 968px;
        text-align: justify;
        margin: auto;
        padding: 0 24px;
    }
    /* End Body Copy  */
}