@import "fonts.css";
body {
  margin: 0;
  padding: 0;
}

body.body--open #back {
  visibility: visible;
}

/* Navigation */

.nav {
  background-color: #ec008c;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1;
}

.nav__pointer {
  cursor: pointer;
}

.nav a {
  text-decoration: none;
}

.nav .nav__primary {
  font: 21px HUGEAvantGardeBold;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav .nav__primary .nav__item>a {
  display: block;
  color: #fff;
  transition: all 0.5s ease;
  margin: 0;
  padding: 24px;
}

.nav .nav__primary li>a:hover {
  color: #ec008c;
  background-color: #fff;
  transition: all 0.5s ease;
}

.nav .nav__primary .nav__secondary {
  font: 16px Galaxie;
  list-style-type: none;
  position: absolute;
  padding: 0;
  background-color: #fff;
  display: none;
}

.nav .nav__primary .nav__item--open>a {
  background-color: #fff;
  color: #ec008c;
}

.nav .nav__primary .nav__item--open>.nav__secondary {
  display: block;
}

.nav .nav__primary .nav__secondary a {
  color: #4b4b4b;
  line-height: 48px;
  padding: 0 24px;
}

.nav .nav__primary .nav__secondary li>a:hover {
  background-color: #eee;
}

.nav .nav__primary .nav__secondary li:first-child a {
  padding-top: 12px;
}

.nav .nav__primary .nav__secondary li:last-child a {
  padding-bottom: 12px;
}

/* Logo */

.nav .nav__logo img {
  padding: 24px 48px 24px 24px;
  height: 19px;
  width: 60px;
}

/* End Logo */

/* End Navigation */

/* Body Copy  */

.content {
  font: 24px/36px Galaxie;
  text-align: center;
  margin: 0;
}

.content .content__cover .content__image_backgrond {
  width: 100%;
  height: 640px;
}

.content .content__cover .content__title {
  /* font: 120px/132px HUGEAvantGardeBold;
  color: #fff;
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  transform: translate(-50%, -70%); */
}

.content .content__text {
  max-width: 968px;
  text-align: justify;
  margin: auto;
  padding: 60px;
}

/* End Body Copy */

#back {
  position: fixed;
  top: 71px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: -1;
}
@media only screen and (min-width: 769px) {
  .content .content__title {
    font: 120px/132px HUGEAvantGardeBold;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%; 
  }
}

@media only screen and (max-width: 768px) {
  /* Navigation */
  .nav {
    display: block;
    background-color: initial;
    height: 100%;
  }
  .nav .nav__logo {
    background-color: #ec008c;
  }
  .nav .nav__logo img {
    padding: 20px 24px;
    width: 50px;
  }
  .nav .nav__primary {
    background-color: #fff;
    display: block;
    width: 80%;
    height: 100%;
  }
  .nav .nav__primary li:first-child a {
    padding-top: 12px;
  }
  .nav .nav__primary .nav__item>a {
    color: #4b4b4b;
    padding: 0 0 0 24px;
    line-height: 48px;
  }
  .nav .nav__primary li>a:hover {
    background-color: #eee;
    color: #4b4b4b;
  }
  .nav .nav__primary .nav__item>li:hover {
    color: #4b4b4b;
    background-color: #eee;
  }
  .nav .nav__primary .nav__secondary {
    width: 100%;
  }
  .nav .nav__primary .nav__secondary>li:hover>a {
    color: #ec008c;
  }
  .nav .nav__primary .nav__item--open {
    display: contents;
  }
  .nav .nav__primary .nav__item_arrow {
    width: 45px;
    height: 45px;
    float: right;
    font-size: 2rem;
    background: url(/images/arrow.svg) no-repeat center center;
    transition: all 0.5s ease;
    transform: rotate(0deg);
  }
  .nav .nav__primary .nav__item--open .nav__item_arrow {
    transform: rotate(180deg);
  }
  .nav .nav__primary .nav__item--open .nav__secondary {
    position: relative;
  }
  .nav .nav--toggle {
    display: none;
  }
  /* End Navigation */
  /* Body Copy  */
  .content .content__image-backgrond {
    height: 240px;
  }
  .content .content__title {
    font: 44px/48px HUGEAvantGardeBold;
    margin: 50px;
  }
  .content .content__text {
    font: 14px/24px Galaxie;
    max-width: 968px;
    text-align: justify;
    margin: auto;
    padding: 0 24px;
  }
  /* End Body Copy  */
}