@media only screen and (max-width: 768px) {
  
  /* Navigation */
  
  .nav {
    display: block;
    background-color: initial;
  }

  /* Primary */

  .nav .nav__menu {
    height: 100%;
    position: fixed;
  }

  .nav .nav__primary {
    background-color: #fff;
    display: block;
    width: 0;
    height: 100%;
  }
  .nav .nav__primary li:first-child a {
    padding-top: 12px;
  }
  .nav .nav__primary .nav__item a {
    color: #4b4b4b;
    padding: 0 0 0 24px;
    line-height: 48px;
  }
  .nav .nav__primary li>a:hover {
    background-color: #eee;
    color: #4b4b4b;
  }
  .nav .nav__primary .nav__item>li:hover {
    color: #4b4b4b;
    background-color: #eee;
  }

  /* End Primary */

  /* Secondary */

  .nav .nav__primary .nav__secondary {
    width: 100%;
  }
  .nav .nav__primary .nav__secondary>li:hover>a {
    color: #ec008c;
  }
  .nav .nav__primary .nav__item--open {
    display: contents;
  }
  .nav .nav__primary .nav__item_arrow {
    width: 45px;
    height: 45px;
    float: right;
    font-size: 2rem;
    background: url(/images/arrow.svg) no-repeat center center;
    transition: all 0.5s ease;
    transform: rotate(0deg);
  }
  .nav .nav__primary .nav__item--open .nav__item_arrow {
    transform: rotate(180deg);
  }
  .nav .nav__primary .nav__item--open .nav__secondary {
    position: relative;
  }

  /* End Secondary */
 
  /* End Navigation */
  
  /* Top */

  body.body__toggle--open #back {
    visibility: visible;
  }
  .body__toggle--open .nav .nav__primary {
    width: 250px;
  }
  .body__toggle--open .content {
    left: 250px;
  }
  .nav .nav__top {
    background-color: #ec008c;
  }
  .nav .nav__top .nav__logo {
    padding: 20px 24px;
    width: 50px;
    visibility: hidden;
  }
  .nav .nav__top .nav__toggle {
    display: inline;
  }
  .nav .nav__top .nav__toggle--open {
    visibility: visible;
    position: absolute;
  }
  .body__toggle--open .nav .nav__top .nav__logo {
    visibility: visible;
  }
  .body__toggle--open .nav .nav__top .nav__toggle--open {
    visibility: hidden;
    margin-left: 90%; 
  }
  .body__toggle--open .nav .nav__top .nav__toggle--close {
    visibility: visible;
  }
  
  /* End Top */
}